{% extends "base.html" %}
{% block title %}Cohort{% endblock %}

{% block content %}

    <h1>{{sel_cohort.name}}</h1>
    <hr>

    <h3>Students</h3>
    <hr>
        <form method="POST">
            <table border="1">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <th>{{student.first_name}}</th>
                        <th>{{student.last_name}}</th>
                        <th><input type="checkbox" name="sel_students" value="{{student.id}}"></th>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" name="submit" value="Remove student(s) from cohort">
        </form>

    <h3>Cards</h3>
    <hr>
        <form method="POST">
            <table border="1">
                <tr>
                    <th>Front</th>
                    <th>Back</th>
                </tr>
                {% for card in cards %}
                    <tr>
                        <th>{{card.front}}</th>
                        <th>{{card.back}}</th>
                        <th><input type="checkbox" name="sel_cards" value="{{card.id}}"></th>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" name="submit" value="Remove card(s) from cohort">
        </form>

{% endblock %}