{% extends "base.html" %}

{% block content %}
<h1>My Dashboard</h1>

<h3>Review Flashcards</h3>
<hr>
<p><a href='/create-class'>Create New Class</a></p>
{% for class in user.classes %}
<p><a href='/class?id={{class.id}}'>{{class.name}}</a></p>
{% endfor %}
<br>

<h3>My Decks</h3>
<hr>
    {% for deck in decks %}
    <p><a href='/deck?id={{deck.id}}'>{{deck.name}}</a></p>
    {% endfor %}
<br>
    <p><a href='/create-deck'>Create New Deck</a></p>
<br>

<h3>Monitoring</h3>
<hr>
<br>
{% endblock %}