{% extends "base.html" %}
{% block title %}My Decks{% endblock %}

{% block content %}
    <a href="add-card?id={{deck.id}}.html">Add new card to deck</a> | 
    <a href="settings?id={{deck.id}}.html">Settings</a>
    <br>
    <h3>{{deck.name}}</h3>
    <hr>
    <form method="post">
        <table>
            <tr>
                <th>Front</th>
                <th>Back</th>
                <th>Classes</th>
                <th>Edit</th>
                <th>Select</th>
            </tr>
            {% for card in cards %}
            <tr>
                <th>{{card.front}}</th>
                <th>{{card.back}}</th>
                <th>
                {% for class in card.classes %}
                {{class.name + "/"}}
                {% endfor %}
                </th>
                <th><a href="edit-card?id={{card.id}}.html">Edit card</a></th>
                <th><input type="checkbox" name="sel_cards" value="{{card.id}}"></th>
            </tr>
            {% endfor %}
        </table>
        <select name="sel_class_id">
            {% for class in classes %}
            <option value="{{class.id}}">{{class.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add to class">
    </form>
{% endblock %}

<!-- TODO: connect checkboxes to selected card's id
    <a href="delete-card?id={{card.id}}.html">Delete card(s)</a>  -->