{% extends "base.html" %}
{% block title %}My Decks{% endblock %}

{% block content %}
    <a href="add-card/{{deck.id}}">Add new card to deck</a> | 
    <a href="settings/{{deck.id}}">Settings</a>
    <br>
    <h3>{{deck.name}}</h3>
    <hr>
    <br>
    <form method="post">
        <table border="1">
            <tr>
                <th>Front</th>
                <th>Back</th>
                <th>Cohorts</th>
                <th>Edit</th>
            </tr>
            {% for card in cards %}
            <tr>
                <th>{{card.front}}</th>
                <th>{{card.back}}</th>
                <th>
                {% for cohort in card.cohorts %}
                {{cohort.name + " "}}
                {% endfor %}
                </th>
                <th><a href="edit-card?id={{card.id}}.html">Edit card</a></th>
                <th><input type="checkbox" name="sel_cards" value="{{card.id}}"></th>
            </tr>
            {% endfor %}
        </table>
        <br>
        <select name="sel_cohort_id">
            {% for cohort in cohorts %}
            <option value="{{cohort.id}}">{{cohort.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="Add to cohort">
        <hr>
        <br>
        <input type="submit" name="submit" value="Delete cards">
    </form>
{% endblock %}

<!-- TODO: connect checkboxes to selected card's id
    <a href="delete-card?id={{card.id}}.html">Delete card(s)</a>  -->