{% extends "base.html" %}
{% block title %}Review{% endblock %}

{% block content %}

    <br>

    <form method="POST">
    {% if front == True %}
        
        {{card.front}}

        <hr>

        <input type="submit" name="submit" value="Show back">

    {% endif %}

    {% if front == False %}

        {{card.back}}

        <hr>

        <input type="submit" name="submit" value="Correct">    
        <input type="submit" name="submit" value="Incorrect">

    {% endif %}
    </form>

{% endblock %}